---
layout: default
title: Home
---

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

<!-- Visitas -->
<div class="stat">
    <span class="stat-count">0</span>
    <p class="stat-detail">Visitantes</p>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</div>