---
layout: default
title: Home
image: assets/images/fondoindex.jpg
---

<!-- Contador de visitas -->
 <center><a href="https://elc4br4.github.io" title="Blog elc4br4">
    <p align="right"><img style="border: 0px solid; display: inline;" alt="contador de visitas" src="https://websmultimedia.com/contador-de-visitas.php?id=5817"></a><br><a href='https://websmultimedia.com/contador-de-visitas-gratis'></a><br><a href='http://www.websmultimedia.com/diseno-web/sevilla'></a></center></p>
    
 <!-- Fin Contador de visitas -->

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>


<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>
