---
layout: default
---

<div class="page-single">
    <div class="entry-header">       
        <h1 class="posttitle">{{ page.title }}</h1>        
    </div>
</div>

<!-- Featured Image -->
{% include featured-image.html %}

<!-- Content -->
{% include article.html %}

<!-- Comments if not disabled with comments: false -->
{% include comments.html %}

<a href="https://www.contadorvisitasgratis.com" title="contador de visitas"><img src="https://counter9.stat.ovh/private/contadorvisitasgratis.php?c=x181b4swa17sg859x673zlfxbeupjaa8" border="0" title="contador de visitas" alt="contador de visitas"></a>